<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon" 
      type="image/png" 
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl/new" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.google.com/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>

      <div id="steps">
        <p>How to use the Url shortner: Enter a url in this format: <em>http://www.example.com, <br/>
          and then you will be able to access it by visiting secret-url.heroku.com/[your code]</em></p>
        
              
        
      </div>
    </main>
    <footer>
      <p>By <a href="https://lindani.netlify.app/">Lindani Buthelezi</a></p>
    </footer>
  </body>
</html>
